<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Alejandro Malanche</title>
</head>
<body>
    <div id="content">
        <div id="user-personal" class="inner-container">
            <h1 id="name"> {{ user.username }}</h3>
            <ul class="contact">
                <li>{{ contact.email }}</li>
                <li>{{ contact.phone_number }}</li>
                <li>{{ contact.websites[0] }}</li>
                <li>{{ contact.websites[1] }}</li>
            </ul>
        </div>
        <div id="education"  class="inner-container">
            <h2 class="title"> Education </h1>
            <p class="content">{{ education.school_name }} {{ education.time_range }} </p>
            <p class="content">{{ education.degree }}         {{ education.location }}</p>

        </div>
        <div id="exp" class="inner-container">


                <h2 class="title"> Experience </h1>
                <!-- {% for idx in range(experience | length)%} -->
                    {% for job in experience[idx]| sort(attribute='id') %}
                        <div class="bullets-container">
                            <p class="content"> {{ job.company }}        {{job.region}} </p>
                            <p class="content">{{ job.position }}          {{job.date_start}}</p>
                            <div class="body">
                                <ul>
                                    {% for bul in job.body %}
                                        <li class="content-item">{{bul}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                <!-- {% endfor %} -->


            
        </div>
        <div id="projects" class="inner-container">
            <h2 class="title"> Projects </h1>
                {% for idx in range(projects | length)%}
                    {% for project in projects[idx] %}
                        <div class="bullets-container">
                            <p class="content"> {{ project.title }} </p>

                            <div class="body">
                                <ul>
                                    {% for item in project.body %}
                                        <li class="content-item">{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
        </div>
        <div id="skills" class="inner-container">

                <h2 class="title"> Skills </h1>
                {% for idx in range(skills | length)%}
                    {% for skill in skills[idx] %}
                        <div class="bullets-container">
                            <p class="content"> {{ skill.category }} </p>

                            <div class="body">
                                <ul>
                                    {% for item in skill.body %}
                                        <li class="content-item">{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
        </div>
    </div>
</body>
</html>