<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Malanche</title>
</head>
<body>
    <div id="content">
        <div id="user-personal">
            <h3 id="name"> {{ user.username }}</h3>
            <ul class="contact">
                <li>{{ contact.email }}</li>
                <li>{{ contact.phone_number }}</li>
                <li>{{ contact.websites[0] }}</li>
                <li>{{ contact.websites[1] }}</li>
            </ul>
        </div>
        <div id="education">
            <h1 class="title"> Education </h1>
            <div id="schoolname_year"><span id="school-name"> {{ education.school_name }}</span> <span id="school-year"> {{ education.time_range }}</span></div>
            <div id="degree-location"><span id="degree"> {{ education.degree }}</span> <span id="location"> {{ education.location }}</span></div>
        </div>
        <div id="exp">


                <h1 class="title"> Experience </h1>
                <!-- {% for idx in range(experience | length)%} -->
                    {% for job in experience[idx]| sort(attribute='id') %}
                        <div class="bullets-container">
                            <p class="content"> {{ job.company }}        {{job.region}} </p>
                            <p class="content">{{ job.position }}          {{job.date_start}}</p>
                            <div class="body">
                                <ul>
                                    {% for bul in job.body %}
                                        <li class="content-item">{{bul}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                <!-- {% endfor %} -->


            
        </div>
        <div id="projects">
            <h1 class="title"> Projects </h1>
                {% for idx in range(projects | length)%}
                    {% for project in projects[idx] %}
                        <div class="bullets-container">
                            <p class="content"> {{ project.title }} </p>

                            <div class="body">
                                <ul>
                                    {% for item in project.body %}
                                        <li class="content-item">{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
        </div>
        <div id="skills">

                <h1 class="title"> Skills </h1>
                {% for idx in range(skills | length)%}
                    {% for skill in skills[idx] %}
                        <div class="bullets-container">
                            <p class="content"> {{ skill.category }} </p>

                            <div class="body">
                                <ul>
                                    {% for item in skill.body %}
                                        <li class="content-item">{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
        </div>
    </div>
</body>
</html>